body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.admin-panel {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    padding-left: 30px; /* Daha fazla boşluk bırakmak için padding artırıldı */
}

.sidebar .header {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar h1 {
    font-size: 24px;
    margin: 0;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    background-color: #34495e;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #1abc9c;
}

.sidebar .logout-btn {
    background-color: #e74c3c;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.sidebar .logout-btn:hover {
    background-color: #c0392b;
}

.content {
    margin-left: 280px; /* Sidebar genişliği + biraz boşluk */
    padding: 40px;
    background-color: white;
    width: calc(100% - 280px); /* İçerik genişliği ayarlandı */
    min-height: 100vh;
}

.content h2 {
    font-size: 28px; /* Başlık boyutu */
    color: #34495e; /* Başlık rengi */
    margin-bottom: 20px; /* Başlık altına boşluk */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
